*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    color: rgba(0,0,0,0.7);
    font-family: "Roboto", sans-serif;

}
nav{
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
}
nav img{
    display: inline-block;
    width: 150px;
    height: 60px;
    margin-left: 60px;
    margin-top: 10px;
}

.ul-menu{
    width: 600px;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}
.li-menu{
    display: inline-block;
    width: 140px;
    color: rgba(0,0,0,0.7);
    font-size: 24px;
}
.li-menu:hover{
    color: rgb(255, 64, 0);
}
.active{
    color: rgb(255, 64, 0);

}
.main{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), url('bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    display: inline-block;
}

.main h3{
    margin-top: 15%;
    font-size: 24px;
    animation-name: up;
    animation-duration:1s;
}
@-webkit-keyframes up{
    from{margin-top: 50%; opacity: 0;}
    to{margin-top: 15%;opacity: 1;}
}

.main h1{
    font-size: 50px;
    width: 50%;
}
.main p{
    font-size: 22px;
}

.main button{
    width: 180px;
    height: 45px;
    border-radius: 30px;
    color: white;
    font-size: 22px;
    margin: 20px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.6);
}

.b1{
    background: orangered;
    border: none;
}
button:hover{
    background: gold;
    color: black;
    transition: 0.4s ease;

}

.b2{
    background: none;
    border: 2px solid white;
    color: white
}

.line{
    border-bottom: 2px solid rgba(0,0,0,0.3);
    width: 60%;
    height: 2px;
    margin-bottom: 40px;
    
}
.img1{
    width: 470px;
    height: 600px;
    display: inline-block;
    margin-top: -200px;
    margin-left: -100px;
}
.img2{
    width: 200px;
    height: 350px;
    margin-top: -50px;
    display: inline-block;
    left:700px;
    position: absolute;
}

.title{
    font-size: 40px;
    color: rgba(0,0,0,0.82);
}

li{
    cursor: pointer;
}

.work-img{
    width: 40%;
    display: inline-block;
}
.work-img img{
    width: 500px;
    height: 600px;
}

.work-txt{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.work-txt h2{
    color: orangered;
    margin-top: 180px;
    text-align: left;
}
.work-txt h1{
    text-align: left;
}
.work-txt h3{
    text-align: left;
    color: rgba(0,0,0,0.3);
}

.download{
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), url('download.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.download h1{
    display: inline-block;
    color: white;
    font-size: 55px;
    margin-top: 200px;
}
.download p{
    color: white;
    font-size: 28px;
    margin-top: 10px;
}
.download button{
    width: 220px;
    height: 55px;
    border-radius: 20px;
    color: white;
    font-size: 22px;
    margin: 20px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.6);
}
.b1{
    background: orangered;
    border: none;
}
.b2{
    background: none;
    border: 2px solid white;
    color: white
}


.footer{
    padding-bottom: 20px;
}

.footer img{
    display: inline-block;
    width: 180px;height: 80px;
    margin-left: 200px;
}
.footer ul{
    display: inline-block;
    width: 600px;
    vertical-align: top;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}
.footer li{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 30px;
    color: orangered;
    margin: 20px;
}

.footer p{
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin-top: 30px;
}

@media only screen and (max-width: 980px){

    .ul-menu{
        display: none;
    }

    .main h1{
        font-size: 30px;
        width:90%;
    }
    .main p{
        font-size: 22px;
    }

    .main h3{
        margin-top: 45%;
        font-size: 22px;
        animation-name: up;
        animation-duration:1s;
    }
    @-webkit-keyframes up{
        from{margin-top: 50%; opacity: 0;}
        to{margin-top: 45%;opacity: 1;}
    }

    .img1{
        width: 270px;
        height: 400px;
        display: inline-block;
        margin-top: -200px;
        margin-left: -80px;
    }
    .img2{
        width: 120px;
        height: 250px;
        margin-top: -50px;
        display: inline-block;
        left:200px;
        position: absolute;
        margin-bottom: 40px;
    }

    .download{
        width: 100%;
        height: 600px;
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), url('download.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 40px;
    }
    .download h1{
        display: inline-block;
        color: white;
        font-size: 35px;
        margin-top: 200px;
    }
    .download p{
        color: white;
        font-size: 22px;
        margin-top: 10px;
    }
    .download button{
        width: 180px;
        height: 45px;
        border-radius: 20px;
        color: white;
        font-size: 22px;
        margin: 20px;
        box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.6);
    }

    .footer{
        padding-bottom: 20px;
    }
    
    .footer img{
        display: inline-block;
        width: 170px;height: 80px;
        margin-left: 180px;
    }
    .footer ul{
        display: inline-block;
        width: 500px;
        vertical-align: top;
        align-items: center;
        text-align: center;
        margin-left: 10px;
    }
    .footer li{
        width: 40px;
        height: 40px;
        display: inline-block;
        font-size: 30px;
        color: orangered;
        margin: 20px;
    }
    
    .footer p{
        display: inline-block;
        width: 520px;
        vertical-align: top;
        margin-top: 30px;
        text-align: center;
    }
    .work-txt{
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    .work-txt h2{
        color: orangered;
        margin-top: 20px;
        text-align: center;
    }
    .work-txt h1{
        text-align: center;
    }
    .work-txt h3{
        text-align: center;
        color: rgba(0,0,0,0.3);
    }
    .work-img{
        width: 100%;
        display: inline-block;
    }

}
